@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hello</h1>
<h2>123123</h2>
<h3>121245124512</h3>
<h4>123125125152</h4>
<h5>1231254zdfasf</h5>
<h6>asdafaksdgflk</h6>
<input type="text" class="stm-text" name="name" value="" placeholder="Просто текст" />
<input type="text" class="stm-text error" name="name" value="" placeholder="Ошибка" />
<input type="text" class="stm-text success" name="name" value="" placeholder="Успешно" />
<input type="text" class="stm-text" name="name" value="" placeholder="Еще один тупо тектс" />
<input type="text" class="stm-text" disabled name="name" value="" placeholder="Вырубили" />
<div>
    <div class="stm-checkbox">
        <input id="check1" type="checkbox">
        <label for="check1">Текст чекбокса</label>
    </div>
</div>
<div>
    <div class="stm-radio">
        <input name="test" id="radio1" type="radio">
        <label for="radio1">Текст радиокнопки</label>
    </div>
    <div class="stm-radio">
        <input name="test" id="radio2" type="radio">
        <label for="radio2">Текст радиокнопки</label>
    </div>
    <div class="stm-radio">
        <input name="test" id="radio3" type="radio">
        <label for="radio3">Текст радиокнопки</label>
    </div>
</div>
<div>
    <div>
        <button class="stm-btn">Hello MF</button>
    </div>
    <div>
        <a class="stm-btn stm-btn-green" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-blue" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-yellow" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-red" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-purple" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-gray" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-light-gray" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-dark-gray" href="#">Hallo MF</a>
    </div>
    <div>
        <a class="stm-btn stm-btn-orange" href="#">Hallo MF</a>
    </div>
</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?</div>
