@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="myDiagramDiv" style="width:400px; height: 400px">

</div>

<script>
    function init() {
        if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this

        var $ = go.GraphObject.make;  // for conciseness in defining templates

        myDiagram = $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
            {
                "undoManager.isEnabled": true  // enable undo & redo
            });

        // define a simple Node template
        myDiagram.nodeTemplate =
            $(go.Node, "Auto",  // the Shape will go around the TextBlock
                $(go.Shape, "RoundedRectangle", { strokeWidth: 0, fill: "white" },
                    // Shape.fill is bound to Node.data.color
                    new go.Binding("fill", "color")),
                $(go.TextBlock,
                    { margin: 8 },  // some room around the text
                    // TextBlock.text is bound to Node.data.key
                    new go.Binding("text", "key"))
            );

        // but use the default Link template, by not setting Diagram.linkTemplate

        // create the model data that will be represented by Nodes and Links
        myDiagram.model = new go.GraphLinksModel(
            [
                { key: "Alpha", color: "lightblue" },
                { key: "Beta", color: "orange" },
                { key: "Gamma", color: "lightgreen" },
                { key: "Delta", color: "pink" }
            ],
            [
                { from: "Alpha", to: "Beta" },
                { from: "Alpha", to: "Gamma" },
                { from: "Beta", to: "Beta" },
                { from: "Gamma", to: "Delta" },
                { from: "Delta", to: "Alpha" },
                { from: "Delta", to: "Delta" },
                { from: "Delta", to: "Beta" },
                { from: "Delta", to: "Gamma" }
            ]);
    }
</script>

<div class="d-flex align-content-center flex-column" style="min-width: 500px; max-width: 900px; margin: 0 auto">
    <h1>Hello</h1>
    <h2>123123</h2>
    <h3>121245124512</h3>
    <h4>123125125152</h4>
    <h5>1231254zdfasf</h5>
    <h6>asdafaksdgflk</h6>
    <input type="text" class="stm-text" name="name" value="" placeholder="Простой текст" />
    <input type="text" class="stm-text error" name="name" value="" placeholder="Ошибка" />
    <input type="text" class="stm-text success" name="name" value="" placeholder="Успешно" />
    <input type="text" class="stm-text" name="name" value="" placeholder="Простой текст" />
    <input type="text" class="stm-text" disabled name="name" value="" placeholder="Отключено" />
    <div>
        <div class="stm-checkbox">
            <input id="check1" type="checkbox">
            <label for="check1">Текст чекбокса</label>
        </div>
    </div>
    <div>
        <div class="stm-checkbox">
            <input id="check2" type="checkbox">
            <label for="check2">Текст чекбокса</label>
        </div>
    </div>
    <div>
        <div class="stm-checkbox">
            <input id="check3" type="checkbox">
            <label for="check3">Текст чекбокса</label>
        </div>
    </div>
    <div>
        <div class="stm-radio">
            <input name="test" id="radio1" type="radio">
            <label for="radio1">Текст радиокнопки</label>
        </div>
        <div class="stm-radio">
            <input name="test" id="radio2" type="radio">
            <label for="radio2">Текст радиокнопки</label>
        </div>
        <div class="stm-radio">
            <input name="test" id="radio3" type="radio">
            <label for="radio3">Текст радиокнопки</label>
        </div>
    </div>
    <div class="d-flex">
        <div>
            <button class="stm-btn">Button</button>
        </div>
        <div>
            <a class="stm-btn stm-btn-green" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-blue" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-yellow" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-red" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-purple" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-gray" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-light-gray" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-dark-gray" href="#">Button</a>
        </div>
        <div>
            <a class="stm-btn stm-btn-orange" href="#">Button</a>
        </div>
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illum, id soluta mollitia quod necessitatibus rem deleniti, laborum non eius voluptate dolorum dolore qui saepe quisquam sed vero, nulla error?</div>
</div>